html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.page-container {
    width: 100%;
    height: 100%;
    background-color: #ECEBE8;/*#EAEAEA;*/
    display: grid;
    grid-template-rows: 100px 200px 1fr;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #506852;
}

h1 {
    font-size: 3em;
    color: white;
}

.sequences-choice {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sequences-choice-content {
    height: 50px;
    display: flex;
    flex-direction: row;
    font-size: 2em;
}

.sequences {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sequence {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-right: 50px;
}

.sequence label {
    text-align: right;
}

.text-area {
    height: 1.8em;
    align-self: center;
}

.visualize-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.visualize-button {
    width: 100%;
    height: 75%;
    font-size: 0.7em;
    background-color: #6C9174;
    color: white;
    border-radius: 5px;
}


.result-view {
    width: 60%;
    height: 90%;
    align-self: center;
    justify-self: center;

    border: 1px solid #6C9174;
}